
  .current {
    float: left;
  }
  .current-temperature {
    margin-top: -20px;
    font-size: 60px;
    font-weight: bold;
    color: thistle;
    position: relative;
    float: left;
  }
  .units {
    position: relative;
    float: left;
  }
  